@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body{
    width: 80%;
    background-color: #FEF6F3;
    margin: 0 auto;
}
.stap{
    margin-top: 3%;
    border-radius: 10px;
}

.titel{
    background-color: #FF663F;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: #fff;
}

.sectie{
    background-color: white;
    padding: 2% 20% 2% 20%;
}

.form-control{
    margin: 0 auto;
    width: 80%;
}

/*[type="checkbox"]:checked,*/
/*[type="checkbox"]:not(:checked),*/
[type="radio"]:checked,
[type="radio"]:not(:checked){
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    visibility: hidden;
}
.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
    position: relative;
    display: inline-block;
    padding: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 165px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    color: transparent;
}

label.for-checkbox-budget.manier {
    font-size: 20px;
}
.checkbox-budget:not(:checked) + label{
    background-color: #353746;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
    background-color: #FF663F;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-image: linear-gradient(138deg, #da2c4d, #f8ab37);
    z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
    position: relative;
    display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    -webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: #fff;
    text-fill-color: #fff;
    color: #fff;
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
    max-height: 0;
}
.checkbox-budget:checked + label span::before{
    max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
    background-color: #f0eff3;
    -webkit-text-stroke: 1px #1f2029;
    text-stroke: 1px #1f2029;
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.link-to-page {
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    cursor: pointer;
    width: 30px;
}
.link-to-page img{
    width: 100%;
    height: auto;
    display: block;
}


.loader {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.betalen {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #3EA9EF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}
